:root {
    --cor-fundo: #589727;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo);
}
input{
    padding: 8px 12px;
    font-size: 24px;
}
button{
    padding: 8px 12px;
    font-size: 24px;
    cursor: pointer;
}